@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.contain {
  padding-left: 260px;
  padding-right: 260px;
}

.contain_y {
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 17px;
}

.subtitle_1 {
  font-size: 14px;
}

.subtitle_2 {
  font-size: 13px;
}

.button {
  font-size: 18px;
}

.swiper-scrollbar {
  opacity: 0 !important
}

@layer utilities {
  .glassy {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-lg;
  }

  .glassy_black {
    @apply bg-black/10 backdrop-blur-md shadow-lg;
  }

  .glassy_dark {
    @apply bg-black/75 backdrop-blur-md border border-black/90 shadow-lg;
  }
}

@media (max-width: 1440px) {
  .contain {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1200px) {
  .contain {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 992px) {
  .contain {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .contain {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 520px) {
  .contain {
    padding-left: 10px;
    padding-right: 10px;
  }
}

::-webkit-scrollbar-track {
  background-color: #0d0d0d;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background-color: #dc2626;
  border-radius: 1000px;
}